<section class="projects">
    
    <div class="projects__center-heading">
      <h2 class="projects__title">Featured Projects</h2>
    </div>

    <div class="projects__cards-container">
      <article 
        *ngFor="let project of projects; let i = index" 
        class="project-card"
        [ngClass]="'project-card--position-' + (i + 1)"
        (click)="openProjectModal(project)">

        <div class="project-card__gallery">
          <img 
            [src]="project.images[0]?.src" 
            [alt]="project.images[0]?.alt"
            class="gallery-image">
        </div>

        <div class="project-card__content">
          <h3 class="project-card__title">{{ project.title }}</h3>
        </div>
      </article>
    </div>

</section>

<!-- Project Modal -->
<app-project-modal
  [project]="selectedProject"
  [isOpen]="isModalOpen"
  (close)="closeModal()">
</app-project-modal>
