<div class="timeline-wrapper" #timelineWrapper>
  <!-- Vertical progress line with gradient fill -->
  <div class="timeline-line">
    <div
      class="timeline-line-fill"
      [style.height.%]="scrollProgress * 100"
    ></div>
  </div>

  <!-- Timeline entries using om-timeline library -->
  <om-timeline
    [entryGap]="'1rem'"
    [titleMaxWidth]="'15rem'"
    [orientation]="'vertical'"
  >
    <ng-container *ngFor="let entry of entries">
      <om-timeline-entry>
        <ng-template #timelineTitle>
          <p class="timeline-title">{{ entry.year }}</p>
        </ng-template>
        <ng-template #timelineContent>
          <div class="timeline-content">
            <h3 class="timeline-subtitle">{{ entry.title }}</h3>
            <ul>
              <li *ngFor="let item of entry.items">{{ item }}</li>
            </ul>
          </div>
        </ng-template>
      </om-timeline-entry>
    </ng-container>
  </om-timeline>
</div>
